.card:hover {
    box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}
.product{
    margin-top: -1.5rem;
    margin-bottom: 4.5rem;
}
.form-inline{
    display: flex;
    flex-flow: wrap;
    align-items: center;
}