.section10 {
    background-color: map-get($colores, "color-principal");

    div {
        color: black;
        text-align: center;
        line-height: 2.2;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        margin: 20px auto;
    }
}
.somos1{
    font-size: 4.5rem;
    font-weight: 600;
    color: black;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 20px auto;
}
