.ubicacion1__lista {
    padding-left: 60px;
    width: 25%;
}

.parrafo1 {
    color: black;
    text-align: center;
    line-height: 2.2;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 20px auto;
}