* {
    margin: 0;
    padding: 0;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
}

.navbar-brand:hover {
    background-color: gray;
}

.section1 {
    background: url(./imagenes/Summer-drinks-beer-bottle-cup-beach_1920x1080.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 55% 50%;
    width: 100%;
    margin-top: -1.3rem;
}

.section1 h2 {
    text-shadow: 0px 4px 4px rgb(0 0 0);
}
.section1 p{
    text-shadow: 0px 4px 4px rgb(0 0 0);
}

.section1 img {
    height: 40vh;
    margin: 50px auto;
    border: solid 3px rgb(44, 44, 44);
}

h2 {
    font-size: 4.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 20px auto;
}

.parrafo1 {
    color: black;
    text-align: center;
    line-height: 2.2;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 20px auto;
}

.texto1 {
    text-align: center;
    line-height: 2.2;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 20px auto;
}

.paso1 {
    background: url(./imagenes/paso1.png) no-repeat;
    background-size: auto 100%;
    background-position: center center;
    height: 250px;
}

.paso2 {
    background: url(./imagenes/paso2.png) no-repeat;
    background-size: auto 100%;
    background-position: center center;
    height: 250px;
}

.paso3 {
    background: url(./imagenes/paso3.png) no-repeat;
    background-size: auto 100%;
    background-position: center center;
    height: 250px;
}

.footer__lista {
    list-style: none;
}

.navbar-brand {
    font-size: 2.2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand:hover {
    color: white;
}
@media screen and (max-width: 1200px){
    .btn1{
        display: none;
    };
}

@media screen and (max-width: 460px) {
    .section1 img {
        display: none;
    }

    .btn1 {
        display: none;
    }

    .btn2 {
        display: none;
    }
    .ubicacion1__lista{
        display: none;
    }
    .section1 p{
        display: none;
    }
}


@media screen and (max-width: 320px) {
    .section1 img {
        display: none;
    }
}